.App{


  background:url('https://t4.ftcdn.net/jpg/01/16/88/37/360_F_116883786_wuckft1sNw1ouQfJ6FuquZnxea3qBlxy.jpg');
  padding-left:5rem;
  padding-right:5rem;
  background-position:100% 100%;
  background-size:cover;
  min-height: 100vh;
  height: 100%;

  background-repeat: no-repeat;
}



@media only screen and (max-width: 480px) {
  /* styles for browsers smaller than 480px; */
  .App{
    padding-left: 12px;
    padding-right: 12px;


  }
}